<!-- header -->
<app-header>
    <div class="d-flex justify-content-between w-100">
        <div  class="d-flex">
            <span class="px-2">
                <mat-icon (click)="goBackListPage()">arrow_back</mat-icon>
            </span>
            <span class="d-flex">
                <p class="m-0 fw-bold">Photo</p>
                <p class="m-0 fw-bold"> "Photo 2024_03_29-05:31:36"</p>
                <mat-icon class="mx-2">expand_more</mat-icon>
            </span>
        </div>
        <div>
            <mat-slide-toggle color="primary">
                Overlay
              </mat-slide-toggle>
            <button mat-button color="primary">Reset</button>
            <button  mat-flat-button color="primary">Save</button>
        </div>
    </div>
</app-header>
