<!-- header -->
<app-header>
    <div class="d-flex justify-content-between w-100">
        <div class="d-flex">
            <span class="px-2">
                <mat-icon (click)="goBackListPage()">arrow_back</mat-icon>
            </span>
            <span class="d-flex">
                <p class="m-0 fw-bold">Photo</p>
                <p class="m-0 fw-bold"> "Photo 2024_03_29-05:31:36"</p>
                <mat-icon class="mx-2">expand_more</mat-icon>
            </span>
        </div>
        <div>
            <mat-slide-toggle color="primary">
                Overlay
            </mat-slide-toggle>
            <button mat-button color="primary">Reset</button>
            <button mat-flat-button color="primary">Save</button>
        </div>
    </div>
</app-header>
<div class="d-flex justify-content-between w-100 px-3 py-2 border-bottom">
    <div class="d-flex">
        <button mat-button (click)="openNotes()">
            <mat-icon class="me-1">description</mat-icon>
            Notes
        </button>

        <span class="d-flex justify-content-center align-items-center">
            <mat-icon class="me-2">straighten</mat-icon>
            <mat-select [ngModel]="selectedMeasure()" (ngModelChange)="selectedMeasure.set($event)"
                style="width: 85px;">
                <mat-option *ngFor="let measure of measures()" [value]="measure">
                    {{measure}}
                </mat-option>
            </mat-select>
        </span>
        <button mat-button>
            <mat-icon class="me-1">edit_location</mat-icon>
            Remove Pins
        </button>
    </div>
    <div class="d-flex align-items-center">
        <button mat-button class="d-flex align-items-center ">
            <span class="material-symbols-outlined pe-2">
                fit_page
            </span> Measure
        </button>
        <button mat-button class="d-flex align-items-center">
            <span class="material-symbols-outlined pe-2">
                expand_content
            </span>
            Expand plans
        </button>
    </div>
    <div class="d-flex align-items-center">
        <button mat-button class="d-flex align-items-center ">
            <span class="material-symbols-outlined pe-2">
                zoom_in
            </span>
            Magnifiy
        </button>
        <button mat-button class="d-flex align-items-center ">
            <span class="material-symbols-outlined pe-2">
                drafts
            </span>
            Support
        </button>
        <button mat-button class="d-flex align-items-center ">
            <span class="material-symbols-outlined pe-2">
                Help
            </span>
            FAQs
        </button>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center w-100 h-100 flex-grow-1">
    <div>
        asdf
    </div>
</div>