.sort-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(239, 238, 238);
    padding: 6px 0;
}
.sort-menu-group {
    max-height: 200px;
    overflow-y: scroll;
}

.sort-menu .sort-menu-item {
    width: 100%;
}

hr {
    width: 100%;
    color: rgba(0, 0, 0, 0.12);
}

.sort-menu-item,
.sort-standalone-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.sort-menu-item:hover {
    background-color: rgb(208, 208, 208);
}

.sort-menu-item:active {
    background-color: rgb(170, 170, 170);
}

.sort-standalone-item {
    background-color: rgb(239, 239, 239);
}

.sort-standalone-item:hover {
    background-color: rgb(208, 208, 208);
}

.sort-standalone-item[aria-expanded='true'] {
    background-color: rgb(208, 208, 208);
}

.sort-menu-item[role='menuitemradio'][aria-checked='true'] {
    background-color: rgb(225, 225, 225);
}

.sort-menu-item[role='menuitemcheckbox'][aria-checked='true'] {
    background-color: rgb(225, 225, 225);
}