
<div class="px-2 h-100 border-end border-2">
    <!-- logo -->
    <div class="py-2 d-flex justify-content-center align-items-center logo-size">
        <img ngSrc="/assets/digsfactlogo.png" width="50" height="50" />
    </div>

    <!-- navs -->
    <div class="mt-4">
        <div class="nav d-block">
            <div class="nav-item nav-size d-flex flex-column justify-content-center align-items-center rounded active">
                <span class="material-symbols-outlined d-block">
                    heap_snapshot_multiple
                </span>
                <p class="m-0 mb-2 text-center fw-bold">
                    Cases
                </p>
            </div>
            <div
                class="nav-item nav-size py-2 d-flex flex-column justify-content-center align-items-center rounded unactive">
                <i class="fa-solid fa-wand-sparkles py-2"></i>
                <p class="m-0 mb-2 text-center fw-bold">
                    DF AI
                </p>
            </div>
        </div>
    </div>
</div>