<!-- header -->
<app-header></app-header>
<!-- list container -->
<div class="h-100 d-flex flex-column">
    <!-- Options -->
    <div class="py-4 px-3 d-flex justify-content-between align-items-center">
        <div>
            <p class="m-0 fw-bold fs-3">
                Cases
            </p>
        </div>
        <div class="d-flex">
            <div class="me-3">
                <button mat-stroked-button>
                    <mat-icon class="me-1">search</mat-icon>
                    Search
                </button>
            </div>
            <div class="me-3">
                <button mat-stroked-button (click)="openFilterDialog()">
                    <span class="d-flex justify-content-between align-items-center">
                        <mat-icon class="me-1">filter_alt</mat-icon>
                        Filter
                        <mat-icon>arrow_drop_down</mat-icon>
                    </span>
                </button>
            </div>
            <div class="me-3">
                <!-- <button mat-stroked-button>
                    <span class="d-flex justify-content-between align-items-center">
                        <mat-icon class="me-1">sort</mat-icon>
                        Sort
                        <mat-icon>arrow_drop_down</mat-icon>
                    </span>
                </button> -->
                <app-sort></app-sort>
            </div>
            <div>
                <button mat-flat-button color="primary" extended (click)="addNewRecord()">
                    <mat-icon>add</mat-icon>
                    New
                </button>
            </div>
        </div>
    </div>
    <!-- table -->
    <div class="px-3 flex-grow-1">
        <table mat-table [dataSource]="dataSource" class="">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- caseID Column -->
            <ng-container matColumnDef="caseID">
                <th mat-header-cell *matHeaderCellDef>Case ID</th>
                <td mat-cell *matCellDef="let element">
                    <div class="py-3">
                        <p class="m-0 fw-bold mb-1"> {{element.caseID}}</p>
                        <p class="m-0">Created: {{element.createdAt | date: 'd MMM y'}}</p>
                    </div>
                </td>
            </ng-container>

            <!-- customer Column -->
            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef>Customer</th>
                <td mat-cell *matCellDef="let element">
                    <div class="py-3">
                        <p class="m-0 mb-1 text-capitalize fw-bold">{{element.customerName}}</p>
                        <div class="d-flex align-items-center">
                            <span class="d-flex align-items-center me-2">
                                <mat-icon class="me-1">mail</mat-icon>
                                {{element.customerEmail}} </span>
                            |
                            <span class="ms-2 d-flex align-items-center">
                                <mat-icon class="me-1">call</mat-icon>
                                {{element.customerPhone}} </span>

                        </div>
                    </div>
                </td>
            </ng-container>

            <!-- Share App Via Column -->
            <ng-container matColumnDef="shareAppVia">
                <th mat-header-cell *matHeaderCellDef class="text-center">Share App Via</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex justify-content-center cursor-pointer">
                        <span class="mx-3">
                            <mat-icon>mail</mat-icon>
                        </span>
                        <span class="mx-3">
                            <mat-icon>call</mat-icon>
                        </span>
                        <span class="mx-3">
                            <mat-icon>link</mat-icon>
                        </span>
                    </div>
                </td>
            </ng-container>

            <!-- Join With Column -->
            <ng-container matColumnDef="joinWith">
                <th mat-header-cell *matHeaderCellDef class="text-center">Join With</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex justify-content-center cursor-pointer">
                        <span class="mx-3">
                            <img ngSrc="/assets/gmeet.png" width="25" height="25" alt="gmeet" priority>
                        </span>
                        <span class="mx-3">
                            <img ngSrc="/assets/teams.png" width="25" height="25" alt="gmeet" priority>
                        </span>
                        <span class="mx-3">
                            <img ngSrc="/assets/zoom.png" width="25" height="25" alt="gmeet" priority>
                        </span>
                    </div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>