:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host::ng-deep {
    .mat-mdc-paginator-container {
        justify-content: space-between !important;
    }
    .mat-mdc-header-row {
        background-color: #f8f9fa !important;

    }
}

.mat-column-select{
    width: 0%;
}
