<!-- header -->
<app-header></app-header>
<!-- list container -->
<div>
    <!-- Options -->
    <div class="py-4 px-3 d-flex justify-content-between align-items-center">
        <div>
            <p class="m-0 fw-bold fs-3">
                Cases
            </p>
        </div>
        <div class="d-flex">
            <div class="me-3">
                <button mat-stroked-button>
                    <mat-icon class="me-1">search</mat-icon>
                    Search
                </button>
            </div>
            <div class="me-3">
                <button mat-stroked-button (click)="openFilterDialog()">
                    <span class="d-flex justify-content-between align-items-center">
                        <mat-icon class="me-1">filter_alt</mat-icon>
                        Filter
                        <mat-icon>arrow_drop_down</mat-icon>
                    </span>
                </button>
            </div>
            <div class="me-3">
                <button mat-stroked-button (click)="openSortDialog()">
                    <span class="d-flex justify-content-between align-items-center">
                        <mat-icon class="me-1">sort</mat-icon>
                        Sort
                        <mat-icon>arrow_drop_down</mat-icon>
                    </span>
                </button>
            </div>
            <div>
                <button mat-flat-button color="primary" extended (click)="addNewRecord()">
                    <mat-icon>add</mat-icon>
                    New
                </button>
            </div>
        </div>
    </div>
</div>