<button mat-stroked-button>
    <span class="d-flex justify-content-between align-items-center">
        <mat-icon class="me-1">filter_alt</mat-icon>
        Filter
        <mat-icon>arrow_drop_down</mat-icon>
    </span>
</button>
<ng-template #menu>
    <div class="sort-menu" cdkMenu>
        <div cdkMenuGroup class="sort-menu-group">
            <button *ngFor="let filter of filterLists()" cdkMenuItemRadio class="sort-menu-item"
                [cdkMenuItemChecked]="selectedFilter() === filter" (cdkMenuItemTriggered)="selectedFilter.set(filter)">
                {{filter.displayName}}
            </button>
        </div>
        <button cdkMenuItem class="sort-menu-item" (cdkMenuItemTriggered)="reset()">Reset</button>
    </div>
</ng-template>